@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');


@import "tailwindcss";
@plugin "daisyui"{
   themes: light --default,  dark --prefersdark;
};

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

*{
    font-family: "Urbanist", sans-serif;
}



@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #FFC5D3;
  --color-secondary: #6C3BAA;
 --color-base-200: #f3f3f3;
  --color-accent:#33929D;
  
}

@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #FF9EB5;
  --color-secondary: #9A7BD6;
  --color-base-200: #1f1f1f;
  --color-accent: #4FD1C5;
}

.my-btn {
    background-color: #FFC5D3;
   
  }

.my-btn-purple {
  background-color:  #6C3BAA;
   

}

.font-display{
   font-family: "Tangerine", cursive;
}

.active{
  text-decoration: underline;
  
}

